<div>
<form action="/links" method="POST">
Title: <input type='text' name='title'><br>
URL: <input type='text' name='url'><br>
Tag: <input type='text' name='tag'><br>
<input type='submit' value='Submit'>
</form>
</div>
